.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   background: url('https://www.transparenttextures.com/patterns/cubes.png'),
  linear-gradient(to right, #d6f0ff, #eaf6ff);
  background-blend-mode: overlay;
  padding: 0 20px;
}

.register-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.site-name {
  font-family: 'Rubik', sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #4A90E2, #00C9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
  margin-bottom: 10px;
  animation: fadeInSlide 1s ease-out;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
}

.register-box p {
  font-size: 14px;
  margin-bottom: 25px;
  color: #666;
  font-family: 'Rubik', sans-serif;
}

.register-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.register-box button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 16px;
}

.register-box button:hover {
  background-color: #0056b3;
  transform: scale(1.03);
}

.register-box .login-link {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  color: #333;
}

.register-box .login-link a {
  color: #2196f3;
  text-decoration: none;
  font-weight: 500;
}

.register-box .login-link a:hover {
  color: #0b7dda;
  text-decoration: underline;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
